api.cmicrolocks.fr {
    reverse_proxy cmicrolocks-api:8080
}

admin.cmicrolocks.fr {
    handle /api/* {
        reverse_proxy cmicrolocks-api:8080
    }
    handle {
        root * /srv/admin-website
        try_files {path} /index.html
        file_server
    }
}

cmicrolocks.fr, www.cmicrolocks.fr {
    respond "CMicrolocks arrive bientot." 200
}

api.lovelist.shop {
    reverse_proxy lovelist-api:8080
}

lovelist.shop, www.lovelist.shop {
    respond "LoveList arrive bientot." 200
}
